<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Students</title>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/student/students.css')}}">
</head>
<body>
    <div id="sidebar">
        <a href="{{ url_for('school_routes.go_to_panel_school_info') }}" class="sidebar_item">School info</a>
        <a href="{{ url_for('class_routes.go_to_panel_classes') }}" class="sidebar_item">Classes</a>
        <a href="{{ url_for('teacher_routes.go_to_panel_teachers') }}" class="sidebar_item">Teachers</a>
        <a href="{{ url_for('student_routes.go_to_panel_students') }}" class="sidebar_item">Students</a>
    </div>

    <div id="content_area">
        <div id="header">
            <h1>Manage Students</h1>
            <a href="{{url_for('student_routes.go_to_add_student')}}"><button id="add_student">Add Student</button></a>
        </div>

        <div id="search_div">
            <form id="form" method="GET" action="{{ url_for('student_routes.go_to_panel_students') }}"> 
                <input type="search" id="query" name="q" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
        </div>

        <div id="student_list">
            {% for student in students %}
            <div class="student_item">
                <p>{{student.student_name}} {{student.student_family}}</p>
                <a><button>See</button></a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
