body {
  background-color: #0B0C10;
  font-family: Catamaran;
  margin: 15px;
  text-align: center;
}

.navbar {
  background: #1f2833;
  border-radius: 5px;
  direction: ltr;
  display: inline-block;
  margin: 0 auto;
  padding: 8px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar a {
  border-radius: 5px;
  color: #F1F1F1;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
  padding: 12px 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar a:hover {
  background-color: #45A29E;
}

.paragraph {
  align-self: center;
  color: #C5C6C7;
  direction: ltr;
  font-size: 15px;
  line-height: 30px;
  text-align: justify;
  width: 400px;
}

.hello {
  color: #66FCF1;
  font-size: 100px;
  font-style: bold;
  line-height: 80px;
  margin-bottom: 0px;
}

.content {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 0px;
}

button {
  background: none;
  border-color: #66FCF1;
  border-radius: 5px;
  color: #F1F1F1;
  font-family: Catamaran;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px;
  transition: all 0.3s ease;
  box-shadow: none;
}

button:hover {
  background-color: #45A29E;
  border-color: #45A29E;
  font-style: bold;
  box-shadow: none;
  cursor: pointer;
}
