body {
    align-items: center;
    background-color: #0B0C10;
    display: flex;
    font-family: Catamaran;
    height: 100vh;
    justify-content: center;
    margin: 15px;
    text-align: center;
}
  
h1 {
    color: #66FCF1;
}
  
form {
    background-color: #1f2833;
    border-radius: 5px;
    padding: 10px;
  }
  
input {
    align-items: center;
    border-radius: 5px;
    display: flex;
    height: 35px;
    justify-content: center;
    margin: 20px;
    width: 350px;
}
  
input::placeholder {
    font-size: 13px;
    padding-left: 0px;
    text-align: left;
}
  
button {
    background: none;
    border-color: #66FCF1;
    border-radius: 5px;
    color: #F1F1F1;
    font-family: Catamaran;
    font-size: 15px;
    height: 42px;
    margin-bottom: 10px;
    width: 130px;
}
  
button:hover {
    background-color: #45A29E;
    border-color: #45A29E;
    box-shadow: none;
    cursor: pointer;
    font-style: bold;
}
  
a {
    color: #E0E0E0;
    margin-bottom: 30px;
    text-decoration: none;
}
  
.go_back_home {
    left: 10px;
    position: absolute;
    top: 10px;
  }
  