<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duplicated School Info - SAP</title>
    <link rel="icon" type="image/x-icon" href="../static/icons/icon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/duplicated_school_info.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="particles-js"></div>
    <div class="notification-container">
        <h1 class="notification-title">OOPS!</h1>
        <p class="notification-text">Some of these values are already registered by others.</p>
        <p class="notification-text">Please double-check your entries for signup or try to login!</p>
        <a href="{{ url_for('auth_routes.signup') }}" class="notification-action">Got it!</a>
    </div>

    <script src="{{ url_for('static', filename='js/particles.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/duplicated_school_info.js') }}"></script>
</body>
</html>