<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Username/Password Notification - SAP</title>
    <link rel="icon" type="image/x-icon" href="../static/icons/icon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/notify_username_password.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="particles-js"></div>

    <div class="notification-container">
        <h1 class="notification-title">Heads Up!</h1>
        <p class="notification-text">
            From this moment, your username is the School Code and your password is the Manager Personal Code.
        </p>
        <p class="notification-text">
            Remember this information! If you lose it, account recovery will be difficult and, in some cases, impossible.
        </p>
        <a href="{{ url_for('auth_routes.login') }}" class="notification-action">Got it!</a>
    </div>

    <script src="{{ url_for('static', filename='js/particles.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/particles_config.js') }}"></script>
</body>
</html>