/* General Styles */
body {
    background-color: #121212;
    font-family: 'Inter', sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    color: #E0E0E0;
}

/* Sidebar */
#sidebar {
    background: #1E1E1E;
    border-radius: 8px;
    font-size: 1.1rem;
    height: 100vh;
    padding: 20px 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    flex-shrink: 0;
}

.sidebar-item {
    color: #E0E0E0;
    display: block;
    margin-bottom: 15px;
    padding: 10px 15px;
    text-align: left;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border-radius: 8px;
}

.sidebar-item:hover {
    background-color: #6C63FF;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
}

/* Content Area */
#content-area {
    flex-grow: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
    align-items: center;
    overflow-y: auto;
}

/* Class Information */
#primary-info {
    background: #1E1E1E;
    border-radius: 8px;
    color: #E0E0E0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    width: 350px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#primary-info h1 {
    color: #6C63FF;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 6px rgba(108, 99, 255, 0.3);
    margin-bottom: 15px;
}

/* Teachers Section */
#teacher-area {
    background: #1E1E1E;
    border-radius: 8px;
    color: #E0E0E0;
    padding: 20px;
    width: 350px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#teacher-area h1 {
    color: #6C63FF;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 6px rgba(108, 99, 255, 0.3);
    margin-bottom: 15px;
}

#teacher-list p {
    color: #E0E0E0;
    font-size: 1.1rem;
    margin: 10px 0;
}

#student-area {
    background: #1E1E1E;
    border-radius: 8px;
    color: #E0E0E0;
    padding: 20px;
    width: 350px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#student-area h1 {
    color: #6C63FF;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 6px rgba(108, 99, 255, 0.3);
    margin-bottom: 15px;
}

#students-list p {
    color: #E0E0E0;
    font-size: 1.1rem;
    margin: 10px 0;
}

/* Paragraph Styles */
p {
    color: #E0E0E0;
    font-size: 1.1rem;
    margin: 10px 0;
}