<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Teachers</title>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/teacher/teachers.css')}}">
</head>
<body>
    <div id="sidebar">
        <a href="{{ url_for('school_routes.go_to_panel_school_info') }}" class="sidebar_item">School info</a>
        <a href="{{ url_for('class_routes.go_to_panel_classes') }}" class="sidebar_item">Classes</a>
        <a href="{{ url_for('teacher_routes.go_to_panel_teachers') }}" class="sidebar_item">Teachers</a>
        <a href="{{ url_for('student_routes.go_to_panel_students') }}" class="sidebar_item">Students</a>
    </div>

    <div id="content_area">
        <div id="header">
            <h1>Manage Teachers</h1>
            <button id="add">Add a Teacher</button>
        </div>
        <div id="teacher_list">
            <div class="teacher_item">
                <p>Teacher Test 1</p>
                <div class="action_buttons">
                    <button class="action_button">See</button>
                    <button class="action_button">Edit</button>
                    <button class="action_button">Remove</button>
                </div>
            </div>
            <div class="teacher_item">
                <p>Teacher Test 2</p>
                <div class="action_buttons">
                    <button class="action_button">See</button>
                    <button class="action_button">Edit</button>
                    <button class="action_button">Remove</button>
                </div>
            </div>
            <div class="teacher_item">
                <p>Teacher Test 3</p>
                <div class="action_buttons">
                    <button class="action_button">See</button>
                    <button class="action_button">Edit</button>
                    <button class="action_button">Remove</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
