body {
    align-items: center;
    background-color: #0B0C10;
    display: flex;
    font-family: Catamaran;
    height: 100vh;
    justify-content: center;
    margin: 15px;
    text-align: center;
}
  
h1 {
    color: #66FCF1;
}
  
button {
    background: none;
    border-color: #66FCF1;
    border-radius: 5px;
    color: #F1F1F1;
    font-family: Catamaran;
    font-size: 15px;
    height: 42px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    width: 130px;
}
  
button:hover {
    background-color: #45A29E;
    border-color: #45A29E;
    box-shadow: none;
    cursor: pointer;
    font-style: bold;
}
  
.notif_area{
    background-color: #1f2833;
    border-radius: 5px;
    padding: 10px;
    width: 500px;
}

p{
    color: #C5C6C7;
}