/* General Styles */
body {
    align-items: center;
    background-color: #121212;
    display: flex;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
    text-align: center;
}

/* Notification Area */
.notification-area {
    background-color: #1E1E1E;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Notification Title */
.notification-title {
    color: #6C63FF;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 6px rgba(108, 99, 255, 0.3);
}

/* Notification Message */
.notification-message {
    color: #E0E0E0;
    font-size: 1.1rem;
    margin-bottom: 5px;
    text-align: center;
}

/* Notification Button */
.notification-button {
    background: #6C63FF;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    height: 30px; /* Lower height */
    width: 130px;
    padding: 10px 20px;
    margin-top: 30px; /* Added margin from the top */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(108, 99, 255, 0.3);
}

.notification-button:hover {
    background-color: #4FC3F7;
    box-shadow: 0 6px 12px rgba(79, 195, 247, 0.3);
}