<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Signup - SEPAD</title>
    <link rel="icon" type="image/x-icon" href="../static/icons/icon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/signup.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="particles-js"></div>

    <!-- Back to Home Button -->
    <a href="{{ url_for('main_routes.home') }}" class="back-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Go Back Home
    </a>

    <!-- Signup Form -->
    <form method="POST" action="{{ url_for('auth_routes.signup') }}" class="signup-form">
        <h1 class="form-title">Create Account</h1>
        <div class="inputs-part">
            <div class="input-container">
                <input type="text" id="school-name" name="school_name" placeholder="School Name" required pattern="[A-Za-z0-9\s\-]+" title="Should only contain letters, numbers, space, and dash">
            </div>
            <div class="input-container">
                <input type="text" id="school-code" name="school_code" placeholder="School Code" pattern="[0-9]+" title="Should only contain numbers" required>
            </div>
            <div class="input-container">
                <input type="text" id="manager-personal-code" name="manager_personal_code" placeholder="Manager Personal Code" pattern="[0-9]+" title="Should only contain numbers" required>
            </div>
            <div class="input-container">
                <input type="text" id="province" name="province" placeholder="Province" required pattern="[A-Za-z\s\-']+" title="Should only contain letters, space, and dash">
            </div>
            <div class="input-container">
                <input type="text" id="city" name="city" placeholder="City" required pattern="[A-Za-z\s\-']+" title="Should only contain letters, space, and dash">
            </div>
            <div class="input-container">
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
        </div>

        <button type="submit" class="submit-button">Register Now</button>
        <p class="form-footer">
            Already have an account? 
            <a href="{{ url_for('auth_routes.login') }}">Login here</a>
        </p>
    </form>
    
    <script src="{{ url_for('static', filename='js/particles.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/particles_config.js') }}"></script>
</body>
</html>