<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Signup</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/signup.css'>
</head>
<body>
    <form>
        <h1>Signup</h1>
        <input type="text" id="school-name" placeholder="ُSchool name" required>
        <input type="text" id="school-code" placeholder="ُSchool code" required>
        <input type="text" id="manager-personal-code" placeholder="ُManager personal code" required>
        <input type="text" id="province" placeholder="Province" required>
        <input type="text" id="city" placeholder="City" required>
        <button type="submit">Signup</button>
        <p><a href="login.html">have an account? click here to login!</a></p>
    </form>
    <a class="go_back_home" href="home.html"><button>go back home</button></a>

    <script src="../js/signup.js"></script>
</body>
</html>