<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Classes</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../../static/css/management_panel/students.css'>
</head>
<body>
    <div id="sidebar">
        <a href="{{ url_for('go_to_panel_school_info') }}" class="sidebar_item">School info</a>
        <a href="{{ url_for('go_to_panel_classes') }}" class="sidebar_item">Classes</a>
        <a href="{{ url_for('go_to_panel_teachers') }}" class="sidebar_item">Teachers</a>
        <a href="{{ url_for('go_to_panel_students') }}" class="sidebar_item">Students</a>
    </div>

    <div id="content_area">
        <div id="search_div">
            <form id="form"> 
                <input type="search" id="query" name="q" placeholder="Search...">
                <button>Search</button>
              </form>
        </div>
        <div id="student_list">
            <div class="student_item">
                <p>teacher test1</p>
                <a><button>See</button></a>
            </div>
            <div class="student_item">
                <p>teacher test1</p>
                <a><button>See</button></a>
            </div>
            <div class="student_item">
                <p>teacher test1</p>
                <a><button>See</button></a>
            </div>
        </div>
    </div>

</body>
</html>