<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Info - SAP</title>
    <link rel="icon" type="image/x-icon" href="../static/icons/icon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/class/class_info.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="content-area">
        <div class="section-card class-info">
            <div class="section-title">
                <i class="fa-solid fa-chalkboard"></i> Class Primary Info
            </div>
            <p>Class Name: {{ data.class_name }}</p>
            <p>Class Code: {{ data.class_code }}</p>
        </div>

        <div class="section-card teachers-section">
            <div class="section-title">
                <i class="fa-solid fa-user-tie"></i> Teachers
            </div>
            <div class="list-container">
                {% for teacher in teachers %}
                <div class="list-item">
                    <i class="fa-solid fa-user"></i> {{ teacher.teacher_name }} {{ teacher.teacher_family }}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="section-card students-section">
            <div class="section-title">
                <i class="fa-solid fa-users"></i> Students
            </div>
            <div class="list-container">
                {% for student in students %}
                <div class="list-item">
                    <i class="fa-solid fa-user"></i> {{ student.student_name }} {{ student.student_family }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>