<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duplicated Student Info - SAP</title>
    <link rel="icon" type="image/x-icon" href="../static/icons/icon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/class/error_in_excel.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Notification Container -->
    <div class="notification-container">
        <h1 class="notification-title">OOPS!</h1>
        <p class="notification-text">
            There is a problem with your inputs and excel file.
        </p>
        <div class="problems_area">
            {% for text in texts %}
            <p class="notification-text">
                {{ text }}
            </p>
            {% endfor %}
        </div>
        <a href="{{ url_for('class_routes.add_from_excel') }}" class="notification-action">Got it!</a>
    </div>
</body>
</html>