<!DOCTYPE html>
<html>
<head>
    <title>SAP</title>
    <link rel='stylesheet' type='text/css' media='screen' href="../static/css/home.css">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('home_route.go_to_home') }}">Home</a>
        <a href="{{ url_for('auth_routes.go_to_login') }}">Management Panel</a>
        <a>Guide</a>
        <a>About US</a>
    </div>

    <div>
        <h1 class="hello">HELLO</h1>
    </div>
    <div class="content">
        <p class="paragraph">Here, our goal is to create an optimized experience for students and improve their attention accuracy in online classrooms. By using advanced technologies, we can simulate and provide precise analysis of student behavior. With this platform, you can gain a better understanding of student attention and achieve the best results in the online learning process using our tools.</p>
    </div>

    <a><button>Download desktop app</button></a>
</body>
</html>